<%= form_for(:session, url: login_path) do |f| %>
	<div class="col-md-6 col-offset-3">

		<div class="from-group">
			<%= f.label :email %>
			<%= f.email_field :email, label: false, class:'form-control' %>
		</div>

		<div class="from-group">
			<%= f.label :password %>	
			<%= f.password_field :password, label: false, class:'form-control' %>
		</div>

		<%= f.label :remember_me do %>
			<%= f.check_box :remember_me %>
			<span>Remeber me</span>
		<% end %>

		<br>
		<%= f.submit "Log in", class:'btn btn-primary' %>

		<p>New user? <%= link_to 'Sign up now!', new_user_path %></p>
	</div>
<% end %>

